*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

body,html{
    display: grid;
    min-height: 100%;
    place-items: center;
    background-color: #EFF4F5;
}

.card{
    align-items: center;
    text-align: center;
    display:flex;
    flex-direction: column;
    padding: 50%;
    background-color: rgb(255, 239, 204);
    padding: 100px;
    box-shadow: 10px 10px 15px rgb(192, 183,183 );
    border-radius: 20px;

}

.name{
    font-size: 2rem;
    
}

.counter{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.prevBtn, .nextBtn{
    font-size: 1.3rem;
    outline: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    margin: 0 2rem;
    border-radius: 5px;


}
